body {
    background-image: url(../images/pexels-arbi-lemzaouri-17683061.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.keys {
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    margin-top: 20%;
}

.key {
    background: rgba(0, 0, 0, 0.2);
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    transition: all 0.07s ease;
    text-shadow: 0 0 7px #585858;
}

.key p {
    font-family: Josefin Sans;
    font-size: 20px;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 10px;
}

.sound {
    font-family: Josefin Sans;
    color: #3b3b3b;
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 4px;
}

.play {
    transform: scale(1.1);
    border: #3b3b3b;
    box-shadow: #545454;
}